<% if treatment.errors.any? %>
  <ul class="error-messages">

    <% treatment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>

  </ul>
<% end %>

<%= form_with model: treatment do |form| %>

  <%= form.label :name %>
  <%= form.collection_select :name, Treatment.all, :id, "name" %>

  <br>

  <%= form.submit %>
<% end %>
