<p>Name: <%= @treatment.name %></p>

<p>Description: <%= @treatment.description %></p>
<%# button_to "Prescribe", user_prescriptions_path(@user), method: :post, action: "create" , data: {confirm: "Do you want to create this prescription?"}  %>

<%= button_to "Prescribe", user_prescriptions_path(@user) %>

<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
