<p>Name: <%= @treatment.name %></p>

<p>Description: <%= @treatment.description %></p>

<%= button_to "Prescribe", user_prescriptions_path(@user) ,  method: :post,  params: {treatment_id: @treatment.id, user_id: @user_id}, data: {confirm: "Do you want to create this prescription?"} %>

<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
