<p>Name: <%= @treatment.name %></p>

<p>Description: <%= @treatment.description %></p>

<%= form_with(url: "/users/#{@user.id}/prescriptions", method: "post") do %>
  <%= hidden_field_tag(:user_id, @user.id) %>
  <%= hidden_field_tag(:treatment_id, @treatment.id ) %>
  <%= submit_tag "Prescribe" %>
<% end %>
<h2>Button To </h2>
<%= button_to "Prescribe", users_prescription_path(@users) ,  method: :post, action: "create" , data: {confirm: "Do you want to create this prescription?"}, params: {treatment_id: @treatment.id, user_id: @user_id} %>
<%# button_to "Prescribe", user_prescriptions_path(@user) %>

<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
